<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LocalSearchEngineGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FileDataBaseContainer" connectionString="metadata=res://*/Database.FileDataBase.csdl|res://*/Database.FileDataBase.ssdl|res://*/Database.FileDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FileManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <LocalSearchEngineGUI.Properties.Settings>
      <setting name="WorkingDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchMethod" serializeAs="String">
        <value>BlockMeanMethod4Overlapped</value>
      </setting>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Similarity" serializeAs="String">
        <value>85</value>
      </setting>
    </LocalSearchEngineGUI.Properties.Settings>
  </userSettings>
</configuration>